pkgbase = linux-wxt
	pkgdesc = Linux-wxt
	pkgver = 6.7.1.arch1
	pkgrel = 1
	url = https://github.com/archlinux/linux
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.7.1.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.7.1.tar.sign
	source = https://github.com/archlinux/linux/releases/download/v6.7.1-arch1/linux-v6.7.1-arch1.patch.zst
	source = https://github.com/archlinux/linux/releases/download/v6.7.1-arch1/linux-v6.7.1-arch1.patch.zst.sig
	source = https://cdn.kernel.org/pub/linux/kernel/projects/rt/6.7.1/patch-6.7.1-rt6.patch.gz
	source = https://cdn.kernel.org/pub/linux/kernel/projects/rt/6.7.1/patch-6.7.1-rt6.patch.sign
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = 64254695FFF0AA4466CC19E67B96E8162A8CF5D1
	validpgpkeys = 83BC8889351B5DEBBB68416EB8AC08600F108CDF
	validpgpkeys = 64254695FFF0AA4466CC19E67B96E8162A8CF5D1
	sha256sums = 1ecffa568e86a2202ba5533ad9034bc263a9aa14e189597a94f09b3854ad68c3
	sha256sums = SKIP
	sha256sums = 3ba2b1c7b113f47f48c051f86b0fe0011170e0a3d2e2f2fee799857b88864639
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	b2sums = cecdbd19905e43e485ab73b352ced18b37f2a138c97a6956cadcda5d3d271001117dc1cf896b166ff019fc7f405f9539e2ed0d6112b0890efb04d182adf4fd0e
	b2sums = SKIP
	b2sums = a9c86a40cdd55a375a233805d412395de2855a21f8658a22a295f0176d4d97b56e504c3496ad0a7f71d27fa2eaf82594db23a18cfe3af875d29c678275cd1732
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP

pkgname = linux-wxt
	pkgdesc = The Linux-wxt kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-wxt-headers
	pkgdesc = Headers and scripts for building modules for the Linux-wxt kernel
	depends = pahole

pkgname = linux-wxt-docs
	pkgdesc = Documentation for the Linux-wxt kernel
