pkgbase = linux-wxt
	pkgdesc = Linux-wxt
	pkgver = 6.7.4.arch1
	pkgrel = 1
	url = https://github.com/archlinux/linux
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.7.4.tar.xz
	source = https://github.com/archlinux/linux/releases/download/v6.7.4-arch1/linux-v6.7.4-arch1.patch.zst
	source = https://cdn.kernel.org/pub/linux/kernel/projects/rt/6.7/patch-6.7-rt6.patch.gz
	source = config
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP
	b2sums = SKIP

pkgname = linux-wxt
	pkgdesc = The Linux-wxt kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-wxt-headers
	pkgdesc = Headers and scripts for building modules for the Linux-wxt kernel
	depends = pahole

pkgname = linux-wxt-docs
	pkgdesc = Documentation for the Linux-wxt kernel
